# This workflow will upload a Python Package to PyPI when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Release on git tag and push to pypi

on:
  push:
    tags:
      - "*.*.*"

permissions:
  contents: read

jobs:
  tests:
    uses: ./.github/workflows/tests.yml
  release:
    needs:
      - tests
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      git_tag: ${{ steps.git_tag.outputs.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Extract version from pyproject.toml
        id: project_version
        run: |
          version=$(grep '^version\s*=' pyproject.toml | head -1 | sed -E 's/version\s*=\s*"(.*)"/\1/')
          echo "version=$version" >> $GITHUB_OUTPUT
      - name: Get git tag
        id: git_tag
        run: |
          tag="${GITHUB_REF#refs/tags/}"
          echo "tag=${tag#v}" >> $GITHUB_OUTPUT
      - name: Fail if pyproject version is != git tag
        run: |
          if [ "${{ steps.project_version.outputs.version }}" != "${{ steps.git_tag.outputs.tag }}" ]; then
            echo "Tag (v${{ steps.git_tag.outputs.tag }}) does not match project version (${{ steps.project_version.outputs.version }})"
            exit 1
          fi
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.git_tag.outputs.tag }}
        run: >
          gh release create "$tag"
          --title="$tag"
          --notes "$(git tag --format='%(body)' -l $tag)"
  build:
    needs:
      - release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - name: Build release distributions
        run: |
          # NOTE: put your own distribution build steps here.
          python -m pip install build
          python -m build
      - name: Upload distributions
        uses: actions/upload-artifact@v5
        with:
          name: release-dists
          path: dist/

  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - build
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    # Dedicated environments with protections for publishing are strongly recommended.
    # For more information, see: https://docs.github.com/en/actions/deployment/targeting-different-environments/using-environments-for-deployment#deployment-protection-rules
    environment:
      name: pypi
      # OPTIONAL: uncomment and update to include your PyPI project URL in the deployment status:
      url: https://pypi.org/p/powerdns-cli/
    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v6
        with:
          name: release-dists
          path: dist/
      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/

  container-publish:
    runs-on: ubuntu-latest
    needs:
      - pypi-publish
      - release
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
      TAG: ${{ needs.release.outputs.git_tag }}
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@28fdb31ff34708d19615a74d67103ddc2ea9725c
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@8d8c7c12f7b958582a5cb82ba16d5903cb27976a
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@9e436ba9f2d7bcd1d038c8e55d039d37896ddc5d
        with:
          build-args: |
            POWERDNS_CLI_VERSION=${{ env.TAG }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
